<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.demo.mapper.BoardMapper">
    <select id="findAll" resultType="Board">
        SELECT * FROM Board
    </select>
    
    <insert id="insert" parameterType="Board" >
        INSERT INTO Board (title, content, writer)
        VALUES (#{title}, #{content}, #{writer})
    </insert>
    
    <select id="findById" parameterType="int" resultType="Board">
        SELECT * FROM Board WHERE id = #{id}
    </select>
    
    <update id="update" parameterType="Board">
        UPDATE Board SET title = #{title}, content = #{content}, writer = #{writer}
        WHERE id = #{id}
    </update>
    
    <delete id="deleteSelectedBoards" parameterType="java.util.List">
        DELETE FROM Board WHERE id IN 
        <foreach collection="selectedIds" item="id" open="(" separator="," close= ")">
            #{id}
        </foreach>
    </delete>
    
</mapper>
